@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe Myungjo Std M';
  src: url("../fonts/Adobe-Myungjo-Std-M.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman CE';
  src: url("../fonts/CETIMES.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}